<div class="container-fluid mt-1">
	<div class="row align-items-center">
		<!-- Sección de Texto -->
		<div
			class="col-md-5 d-flex flex-column justify-content-center align-items-center"
		>
			<h1 class="display-4 fw-bold">
				Find, book and <br />
				rent a vehicle <span class="text-primary">Easily</span>
			</h1>
			<p class="">Get a vehicle wherever and whenever you need it</p>
		</div>

		<!-- Sección de Imagen del Auto -->
		<div class="col-md-7 text-center position-relative">
			<img class="img-bg-logo" src="assets/LogoHome.svg" alt="logo-home" />
			<img
				src="assets/car.png"
				alt="Car Image"
				class="img-fluid position-relative"
			/>
		</div>
	</div>

	<!-- Barra de Búsqueda -->
	<div class="d-none d-md-flex row justify-content-center">
		<div class="col-10">
			<div
				class="p-3 bg-light rounded shadow-sm d-flex justify-content-between align-items-center"
			>
				<!-- Ubicación -->
				<div class="d-flex align-items-center me-3">
					<img class="me-2" src="assets/locationHome.svg" alt="location-icon" />
					<div>
						<p class="mb-0 fw-semibold">Location</p>
						<input
							type="text"
							placeholder="Search your location"
							class="form-control border-0 p-0 bg-transparent"
						/>
					</div>
				</div>

				<!-- Fecha de Recogida -->
				<div class="d-flex align-items-center me-3">
					<img class="me-2" src="assets/calendar.svg" alt="location-icon" />
					<div>
						<p class="mb-0 fw-semibold">Pickup date</p>
						<input
							type="text"
							placeholder="Tue 15 Feb, 09:00"
							class="form-control border-0 p-0 bg-transparent"
						/>
					</div>
				</div>

				<!-- Fecha de Devolución -->
				<div class="d-flex align-items-center me-3">
					<img class="me-2" src="assets/calendar.svg" alt="location-icon" />
					<div>
						<p class="mb-0 fw-semibold">Return date</p>
						<input
							type="text"
							placeholder="Thu 16 Feb, 11:00"
							class="form-control border-0 p-0 bg-transparent"
						/>
					</div>
				</div>

				<!-- Botón de Búsqueda -->
				<button class="btn btn-primary px-4">Search</button>
			</div>
		</div>
	</div>
	<section id="how-it-works" class="how-it-works py-5 text-center">
		<div class="container">
			<!-- Etiqueta "How It Work" -->
			<div class="badge bg-primary-subtle text-primary mb-2">HOW IT WORK</div>

			<!-- Título principal -->
			<h2 class="fw-bold mb-4">Rent with following 3 working steps</h2>

			<!-- Pasos -->
			<div class="row text-center mb-5">
				<div class="col-md-4">
					<div class="icon-box mx-auto bg-light rounded-circle p-4 mb-3">
						<img
							src="assets/location_blue.svg"
							alt="Location Icon"
							class="img-fluid"
						/>
					</div>
					<h5 class="fw-bold">Choose location</h5>
					<p class="text-muted">Choose your and find your best vehicle</p>
				</div>
				<div class="col-md-4">
					<div class="icon-box mx-auto bg-light rounded-circle p-4 mb-3">
						<img
							src="assets/calendar_blue.svg"
							alt="Calendar Icon"
							class="img-fluid"
						/>
					</div>
					<h5 class="fw-bold">Pick-up date</h5>
					<p class="text-muted">
						Select your pick up date and time to book your car
					</p>
				</div>
				<div class="col-md-4">
					<div class="icon-box mx-auto bg-light rounded-circle p-4 mb-3">
						<img src="assets/car_blue.svg" alt="Car Icon" class="img-fluid" />
					</div>
					<h5 class="fw-bold">Book your car</h5>
					<p class="text-muted">
						Book your car and we will deliver it directly to you
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Slider de marcas -->
	<section class="carousel">
		<div class="group justify-content-center">
			<div class="me-4">
				<img src="assets/honda-brand.svg" alt="Honda" />
			</div>
			<div class="me-4">
				<img src="assets/jaguar-brand.svg" alt="Jaguar" />
			</div>
			<div class="me-4">
				<img src="assets/nissan-brand.svg" alt="Nissan" />
			</div>
			<div class="me-4">
				<img src="assets/volvo-brand.svg" alt="Volvo" />
			</div>
			<div class="me-4">
				<img src="assets/audi-brand.svg" alt="Audi" />
			</div>
			<div class="me-4">
				<img src="assets/acura-brand.svg" alt="Acura" />
			</div>
		</div>
		<div aria-hidden class="group">
			<div class="me-4">
				<img src="assets/honda-brand.svg" alt="Honda" />
			</div>
			<div class="me-4">
				<img src="assets/jaguar-brand.svg" alt="Jaguar" />
			</div>
			<div class="me-4">
				<img src="assets/nissan-brand.svg" alt="Nissan" />
			</div>
			<div class="me-4">
				<img src="assets/volvo-brand.svg" alt="Volvo" />
			</div>
			<div class="me-4">
				<img src="assets/audi-brand.svg" alt="Audi" />
			</div>
			<div class="me-4">
				<img src="assets/acura-brand.svg" alt="Acura" />
			</div>
		</div>
	</section>

	<section class="why-choose-us py-5">
		<div class="container">
			<div class="row align-items-center">
				<!-- Imagen del auto -->
				<div class="col-md-6">
					<div class="position-relative">
						<img src="assets/audi-car.png" alt="Audi Car" class="img-fluid" />
						<div class="triangle-background"></div>
					</div>
				</div>
				<!-- Texto y características -->
				<div class="col-md-6">
					<div class="mb-3">
						<span class="badge bg-primary-subtle text-primary py-2 px-3"
							>WHY CHOOSE US</span
						>
					</div>
					<h2 class="fw-bold">
						We offer the best experience with our rental deals
					</h2>
					<ul class="list-unstyled mt-4">
						<!-- Item 1 -->
						<li class="d-flex align-items-start mb-4">
							<div
								class="icon-box bg-light text-primary rounded-circle me-3 d-flex justify-content-center align-items-center"
							>
								<img src="assets/pay-icon.svg" alt="cash-icon" />
							</div>
							<div>
								<h5 class="fw-bold">Best price guaranteed</h5>
								<p class="text-muted">
									Find a lower price? We'll refund you 100% of the difference.
								</p>
							</div>
						</li>
						<!-- Item 2 -->
						<li class="d-flex align-items-start mb-4">
							<div
								class="icon-box bg-light text-primary rounded-circle me-3 d-flex justify-content-center align-items-center"
							>
								<img src="assets/user-icon.svg" alt="user-icon" />
								<i class="bi bi-person"></i>
							</div>
							<div>
								<h5 class="fw-bold">Experience driver</h5>
								<p class="text-muted">
									Don’t have a driver? Don’t worry, we have many experienced
									drivers for you.
								</p>
							</div>
						</li>
						<!-- Item 3 -->
						<li class="d-flex align-items-start mb-4">
							<div
								class="icon-box bg-light text-primary rounded-circle me-3 d-flex justify-content-center align-items-center"
							>
								<img src="assets/24-chat-icon.svg" alt="24-notification-chat" />
							</div>
							<div>
								<h5 class="fw-bold">24 hour car delivery</h5>
								<p class="text-muted">
									Book your car anytime and we will deliver it directly to you.
								</p>
							</div>
						</li>
						<!-- Item 4 -->
						<li class="d-flex align-items-start mb-4">
							<div
								class="icon-box bg-light text-primary rounded-circle me-3 d-flex justify-content-center align-items-center"
							>
								<img src="assets/chat-icon.svg" alt="chat-icon" />
							</div>
							<div>
								<h5 class="fw-bold">24/7 technical support</h5>
								<p class="text-muted">
									Have a question? Contact Rentcars support any time when you
									have a problem.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="popular-rental-deals" class="popular-rental-deals py-5">
		<div class="container">
			<!-- Encabezado de la sección -->
			<div class="text-center mb-5">
				<span class="badge bg-primary-subtle text-primary py-2 px-3"
					>POPULAR RENTAL DEALS</span
				>
				<h2 class="fw-bold mt-3">Most popular cars rental deals</h2>
			</div>
			<!-- Tarjetas de autos -->
			<div class="row g-4">
				<!-- Tarjeta 1 -->
				<div class="col-lg-3 col-md-6">
					<div class="card shadow-lg border h-100">
						<img
							src="assets/jaguar.png"
							class="card-img-top"
							alt="Jaguar XE L P250"
						/>
						<div class="card-body">
							<h5 class="card-title fw-bold">Jaguar XE L P250</h5>
							<p class="text-muted mb-2">
								<img src="assets/star-icon.svg" alt="star-icon"> 4.8 (2,436 reviews)
							</p>
							<ul class="list-unstyled small text-muted d-flex justify-content-between">
								<li><img src="assets/user.svg" alt="person-icon"> 4 Passagers</li>
								<li><img src="assets/gearbox.svg" alt="gearbox-icon"> Auto</li>
							</ul>
							<ul class="list-unstyled small text-muted d-flex justify-content-between">
								<li><img src="assets/air-icon.svg" alt="air-icon"> Air Conditioning</li>
								<li><img src="assets/door.svg" alt="door-icon"> 4 Doors</li>
							</ul>
							<div class="mt-3 my-3 p-2">
								<div class="d-flex justify-content-between">
									<p class="fw-bold mb-2">
										Price 
									</p>
									<div>
										<span class="text-primary fw-bold">$1,800</span>
										<span>/day</span>
									</div>
								</div>
								<a href="#" class="btn btn-primary w-100">Rent Now →</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Tarjeta 2 -->
				<div class="col-lg-3 col-md-6">
					<div class="card shadow-lg border h-100">
						<img src="assets/audi.png" class="card-img-top" alt="Audi R8" />
						<div class="card-body">
							<h5 class="card-title fw-bold">Audi R8</h5>
							<p class="text-muted mb-2">
								<img src="assets/star-icon.svg" alt="star-icon"> 4.6 (1,936 reviews)
							</p>
							<ul class="list-unstyled small text-muted d-flex justify-content-between">
								<li><img src="assets/user.svg" alt="person-icon"> 2 Passagers</li>
								<li><img src="assets/gearbox.svg" alt="gearbox-icon"> Auto</li>
							</ul>
							<ul class="list-unstyled small text-muted d-flex justify-content-between">
								<li><img src="assets/air-icon.svg" alt="air-icon"> Air Conditioning</li>
								<li><img src="assets/door.svg" alt="door-icon"> 2 Doors</li>
							</ul>
							<div class="mt-3 my-3 p-2">
								<div class="d-flex justify-content-between">
									<p class="fw-bold mb-2">
										Price 
									</p>
									<div>
										<span class="text-primary fw-bold">$2,100</span>
										<span>/day</span>
									</div>
								</div>
								<a href="#" class="btn btn-primary w-100">Rent Now →</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Tarjeta 3 -->
				<div class="col-lg-3 col-md-6">
					<div class="card shadow-lg border h-100">
						<img src="assets/bmw.png" class="card-img-top" alt="BMW M3" />
						<div class="card-body">
							<h5 class="card-title fw-bold">BMW M3</h5>
							<p class="text-muted mb-2">
								<img src="assets/star-icon.svg" alt="star-icon"> 4.5 (2,036 reviews)
							</p>
							<ul class="list-unstyled small text-muted d-flex justify-content-between">
								<li><img src="assets/user.svg" alt="person-icon"> 4 Passagers</li>
								<li><img src="assets/gearbox.svg" alt="gearbox-icon"> Auto</li>
							</ul>
							<ul class="list-unstyled small text-muted d-flex justify-content-between">
								<li><img src="assets/air-icon.svg" alt="air-icon"> Air Conditioning</li>
								<li><img src="assets/door.svg" alt="door-icon"> 4 Doors</li>
							</ul>
							<div class="mt-3 my-3 p-2">
								<div class="d-flex justify-content-between">
									<p class="fw-bold mb-2">
										Price 
									</p>
									<div>
										<span class="text-primary fw-bold">$1,600</span>
										<span>/day</span>
									</div>
								</div>
								<a href="#" class="btn btn-primary w-100">Rent Now →</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Tarjeta 4 -->
				<div class="col-lg-3 col-md-6">
					<div class="card shadow-lg border h-100">
						<img
							src="assets/lamborghini.png"
							class="card-img-top"
							alt="Lamborghini Huracan"
						/>
						<div class="card-body">
							<h5 class="card-title fw-bold">Lamborghini Huracan</h5>
							<p class="text-muted mb-2">
								<img src="assets/star-icon.svg" alt="star-icon"> 4.3 (2,236 reviews)
							</p>
							<ul class="list-unstyled small text-muted d-flex justify-content-between">
								<li><img src="assets/user.svg" alt="person-icon"> 2 Passagers</li>
								<li><img src="assets/gearbox.svg" alt="gearbox-icon"> Auto</li>
							</ul>
							<ul class="list-unstyled small text-muted d-flex justify-content-between">
								<li><img src="assets/air-icon.svg" alt="air-icon"> Air Conditioning</li>
								<li><img src="assets/door.svg" alt="door-icon"> 2 Doors</li>
							</ul>
							<div class="mt-3 my-3 p-2">
								<div class="d-flex justify-content-between">
									<p class="fw-bold mb-2">
										Price 
									</p>
									<div>
										<span class="text-primary fw-bold">$2,300</span>
										<span>/day</span>
									</div>
								</div>
								<a href="#" class="btn btn-primary w-100">Rent Now →</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Botón "Show all vehicles" -->
			<div class="text-center mt-5">
				<a href="#" class="btn btn-outline-primary">Show all vehicles →</a>
			</div>
		</div>
	</section>
</div>

<FooterComponent />
