<div class="container my-3">
    
    <!-- spinner-->
    <shared-loading-spinner *ngIf="isLoading;else showForm"></shared-loading-spinner>

    <ng-template #showForm>
        <h2>Bicicletas</h2>
        <hr>
        
        <form class="mt-3 col-md-6" [formGroup]="miFormulario" (ngSubmit)="onSubmit()">                
            <!--ID-->
            <div class="mb-3" hidden>
                <label for="idVehiculo" class="form-label">Id</label>
                <input type="text" class="form-control" id="idVehiculo" formControlName="id">        
                <span *ngIf="hasErrorsAndTouched('id')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('id')}}
                </span>
            </div>
            
            <!--DESCRIPTION-->
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" name="descripcion" id="descripcion" formControlName="description"></textarea>        
                <span *ngIf="hasErrorsAndTouched('description')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('description')}}
                </span>
            </div>

            <!--IMAGE-->
            <div class="mb-3">
                <label for="image" class="form-label">Imagen</label>
                <input type="text" class="form-control" name="image" id="image" formControlName="image">
                <span *ngIf="hasErrorsAndTouched('image')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('image')}}
                </span>
            </div>
        
            <!--STATE-->    
            <div class="mb-3">
                <label for="state" class="form-label">Estado</label>        
                <select class="form-select" aria-label="Default select example" formControlName="state" id="state">            
                    <option value="">-- Seleccione Estado --</option>
                    <option *ngFor="let estado of estados"  [value]="estado[0]">{{estado[1]}}</option>            
                </select>
                <span *ngIf="hasErrorsAndTouched('state')" class="form-text text-danger">
                    <!--mensaje de error-->
                    {{getFieldError('state')}}
                </span>
            </div>   
                                
            <!--BRAND-->
            <div class="mb-3">
                <label for="marca" class="form-label">Marca</label>        
                <select class="form-select" aria-label="Default select example" formControlName="brandId" id="marca" (change)="onOptionChange()">            
                    <option value="">-- Seleccione Marca --</option>
                    <option *ngFor="let marca of marcas"  value="{{marca.id}}">{{marca.name}}</option>            
                </select>
                <span *ngIf="hasErrorsAndTouched('brandId')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('brandId')}}
                </span>
            </div>

            <!--MODEL-->
            <div class="mb-3" *ngIf="showModels">
                <label for="modelo" class="form-label">Modelo</label>        
                <select class="form-select" aria-label="Default select example" formControlName="modelId" id="modelo">            
                    <option value="">-- Seleccione Modelo --</option>
                    <option *ngFor="let modelo of modelos"  value="{{modelo.id}}">{{modelo.name}}</option>            
                </select>
                <span *ngIf="hasErrorsAndTouched('modelId')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('modelId')}}
                </span>
            </div>
            
            <!--WHELL-->
            <div class="mb-3">
                <label for="whell" class="form-label">Rodado</label>
                <input type="number" class="form-control" id="whell" min="1" formControlName="whell">                     
                <span *ngIf="hasErrorsAndTouched('whell')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('whell')}}
                </span>
            </div>

            <!--FRAMESIZE-->
            <div class="mb-3">
                <label for="frameSize" class="form-label">Tamaño Cuadro</label>
                <textarea class="form-control" name="frameSize" id="frameSize" formControlName="frameSize"></textarea>        
                <span *ngIf="hasErrorsAndTouched('frameSize')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('frameSize')}}
                </span>
            </div>

            <!--NUMBERSPEEDS-->
            <div class="mb-3">
                <label for="numberSpeeds" class="form-label">Numero de Velocidades</label>
                <input type="number" class="form-control" id="numberSpeeds" min="0" formControlName="numberSpeeds">                     
                <span *ngIf="hasErrorsAndTouched('numberSpeeds')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('numberSpeeds')}}
                </span>
            </div>
                                                    
            <!--PRICE-->
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" min="1" formControlName="price">                     
                <span *ngIf="hasErrorsAndTouched('price')" class="form-text text-danger">
                    <!-- mensaje de error -->
                    {{getFieldError('price')}}
                </span>
            </div>
            
                
            <button type="submit" class="btn btn-primary mb-3">Guardar</button>

            <button type="button" class="btn btn-secondary ms-3 mb-3" [routerLink]="['/']">Cancelar</button>
        </form>
    </ng-template>

</div>