<div class="container my-3">
    <div>
        <h2>Rents</h2>
        <hr>        
    </div>
    
    <!-- spinner-->
    <shared-loading-spinner *ngIf="isLoading; else showList"></shared-loading-spinner>
    
    <ng-template #showList>
        <div *ngIf="rentList.length !== 0; else noRents">
            <div class="my-4 table-responsive">        
                <table class="table table-hover">
                    <thead>
                        <tr>                    
                            <th scope="col">#</th>
                            <th scope="col">Pickup Date</th>      
                            <th scope="col">Pick Time</th>      
                            <th scope="col">Return Date</th>
                            <th scope="col">Return time</th>
                            <th scope="col">Status</th>    
                            <th scope="col">Vehicle</th>    
                            <th scope="col">Person</th>                                
                            <th scope="col">Price</th>                        
                            
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let rent of rentList">                    
                            <td>{{rent.id}}</td>
                            <td>{{rent.pickUpDate}}</td>                                    
                            <td>{{rent.pickUpTime}}</td>
                            <td>{{rent.returnDate}}</td>
                            <td>{{rent.returnTime}}</td>  
                            <td class="text-capitalize">{{rent.state}}</td>                                                                                  
                            <td class="text-capitalize">{{rent.vehicle}}</td>                                                                                  
                            <td class="text-capitalize">{{rent.userFirstName}} {{rent.userLastName}}</td>                                                                                  
                            <td>${{rent.totAmount}}</td>  
                            <td>
                                <button class="btn btn-warning text-white" [routerLink]="['/rents/edit', rent.id]"> Edit</button>                                
                            </td>                            
                        </tr>    
                    </tbody>
                </table>
            </div>    
        </div>            
            
        <ng-template #noRents>
            <div class="alert alert-primary d-flex align-items-center mt-3" role="alert">        
                <div>
                    <i class="bi bi-info-circle-fill"></i> No rents added!
                </div>
            </div>
        </ng-template>
        
    </ng-template>                
</div>

