<footer class="bg-dark text-light pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase fw-bold mb-3">
                    <img src="assets/logo.svg" alt="Logo" class="me-2"> RENTAR
                </h5>
                <p><img class="me-1" src="assets/location.svg" alt="location-icon">Calle siempre viva 123, Springfield</p>
                <p><img class="me-1" src="assets/call.svg" alt="phone-icon">+14432452</p>
                <p><img class="me-1" src="assets/sms.svg" alt="email-icon">rentar&#64;gmail.com</p>
            </div>

            <div class="col-md-2 mb-4">
                <h6 class="text-uppercase fw-bold">Our Product</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light nav-link">Career</a></li>
                    <li><a href="#" class="text-light nav-link">Car</a></li>
                    <li><a href="#" class="text-light nav-link">Packages</a></li>
                    <li><a href="#" class="text-light nav-link">Features</a></li>
                    <li><a href="#" class="text-light nav-link">Priceline</a></li>
                </ul>
            </div>

            <!-- Resources -->
            <div class="col-md-2 mb-4">
                <h6 class="text-uppercase fw-bold">Resources</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light nav-link">Download</a></li>
                    <li><a href="#" class="text-light nav-link">Help Centre</a></li>
                    <li><a href="#" class="text-light nav-link">Guides</a></li>
                    <li><a href="#" class="text-light nav-link">Partner Network</a></li>
                    <li><a href="#" class="text-light nav-link">Cruises</a></li>
                    <li><a href="#" class="text-light nav-link">Developer</a></li>
                </ul>
            </div>

            <!-- About Rentcars -->
            <div class="col-md-2 mb-4">
                <h6 class="text-uppercase fw-bold">About RentAR</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light nav-link">Why choose us</a></li>
                    <li><a href="#" class="text-light nav-link">Our Story</a></li>
                    <li><a href="#" class="text-light nav-link">Investor Relations</a></li>
                    <li><a href="#" class="text-light nav-link">Press Center</a></li>
                    <li><a href="#" class="text-light nav-link">Advertise</a></li>
                </ul>
            </div>

            <!-- Follow Us -->
            <div class="col-md-3 mb-4">
                <h6 class="text-uppercase fw-bold">Follow Us</h6>
                <a href="#" class="text-light me-3"><img src="assets/facebook.svg" alt="facebook-icon"></a>
                <a href="#" class="text-light me-3"><img src="assets/instagram.svg" alt="instagram-icon"></a>
            </div>
        </div>

        <!-- Línea divisoria -->
        <hr class="border-top border-secondary">

        <!-- Copyright -->
        <div class="text-center">
            <p class="mb-0">&copy; 2024 RentAR, All Rights Reserved</p>
        </div>
    </div>
</footer>
